:root {
    --primary-color: #688BC8;
    --secondary-color: #0A2850;
    --tertiary-color: #FFFFFF;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

h1, h2, h3, h4, h5, h6, input, button, a, ul, li, ::placeholder {
    all: unset;
}