.container-request {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.container-request img {
    width: 100%;
    height: 100vh;
    position: fixed;
    object-fit: cover;
    z-index: -1;
}

.container-your-request {
    background-color: var(--white);
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    padding: 24px;
    box-sizing: border-box;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.container-your-request p {
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
}

.container-btn-request-back {
    width: 100%;
}

.container-btn-request-back button {
    background-color: var(--blue-dark);
    color: var(--white);
    width: 100%;
    padding: 16px 0;
    border-radius: 8px;
    text-align: center;
}